// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.statusPanel{
	padding:1em;
	
	textarea{
		margin:1em 0;
		height:5em;
		max-width: 100%;
		min-width: 100%;
	}

	p{
		float:right;
	}

}

.media-body{
	padding:0 1em;
}

.panel-body{
	border-bottom: 1px solid #DDDDDD;
}
